* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.tools-container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drawing-container {}

#canvas {}

.toolbox {
    /* border: 1px solid; */
    height: 70%;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: slategrey;
}

.tools {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tools img {
    height: 50%;
    width: 30%;
}
.sticky{

position: absolute;

top: 200px;

left: 500px;

height: 200px;

width: 250px;

/* border: 1px solid; */
}
.sticky-header{

height: 14%;

width: 100%;

display: flex;

justify-content: flex-end;

align-items: center;

background-color: slategrey;
}
.sticky-header div{

border-radius: 61px;

height: 80%;

width: 8%;

margin: 2px;
}
.sticky-close{

background: lightcoral;
}
.sticky-minimise{

background-color: lightblue;
}
.sticky-content{height: 86%;width: 100%;background-color: wheat;outline: none;}

#photo-upload{
    display: none;
}
.sticky-content img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}